language: node_js
node_js:
  - "lts/*"
script: npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local-dir: dist
  github-token: $PAGES_REPO_TOKEN
  # keep-history: true
  target-branch: master
  repo: shithcf/shithcf.github.io
  on:
    branch: master
