@media screen and (min-width: 800px) {
    html {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 24px;
    }
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #F0F0F0;
    box-shadow: inset 0 0 171px -13px rgba(0, 0, 0, 0.51);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    height: 70vh;
}

#name {
    font-family: monospace;
}

button {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 0.66em 1.2em;
    font-size: 1.125em;
    border-radius: 0.4em;
    outline: none !important;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #3a8ccf;
}

.icon {
    color: #0006;
    transition: color 0.4s;
}

.icon:hover {
    color: #000;
}

.icon > svg {
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    fill: currentColor;
}